.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #333;
    color: white;
    border: 1px solid #333;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: #333;
    min-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #333;
    padding: 8px;
    z-index: 1;
    max-height: 500px;
    right: 0;
}

.modal-content {
    color: #333;
    overflow-y: scroll;
    max-height: inherit;
}

.dropdown-category-container {
    padding: 0.5rem;

    input[type="checkbox"] {
        appearance: none;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    :hover input[type="checkbox"] {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input[type="checkbox"]:checked {
        background-color: #ff763b;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    input[type="checkbox"]:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .container input:checked ~ input[type="checkbox"]:after {
        display: block;
    }

    .dropdown-category-name {
        color: white;
        vertical-align: center;
    }

    .dropdown-category-num-games {
        float: right;
        color: grey;
    }
}