#map-container {
    height: calc(100vh * (3 / 5));
    display: flex;
    flex-direction: column;

    #map-wrapper {
        display: flex;
        flex-grow: 1;
        overflow: hidden; // Prevents svg from expanding the div's size
        justify-content: center;

        // Center map horizontally
        #map {
            display: inline-block;
            margin: auto;
        }
    }
}